/*! minireset.css v0.0.6 | MIT License */ html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.crumb {
    display: inline-block;
    padding-right: 1rem;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

a {
    text-decoration: underline;
    color: #e00ecf;
    font-family: oswald;
    font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #81BEF7;
    font-family: oswald;
}

html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: #fff;
}

body {
  padding:5rem 0;
  color:#000;
}

a {
  text-decoration: underline;
  color: #e00ecf;
  font-family: oswald;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #81BEF7;
    font-family: oswald;
}

nav {
    border-bottom: 1px solid black;
}

main {
  max-width:90em;
  margin:0 auto;
    
}

.grid-set {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap:1.5rem;
  padding:0 1rem;
}


img {
    width: 100%;
}


.grid-item {
  font-size: 1em;
  text-align: center;
  padding-top:1rem;

}




h1, h2, h3, h4, h5 {
  font-family: 'Grandstander', cursive;
  margin-bottom:.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
}
h2 {
  font-size:1.75rem;
}
h3 {
  font-size: 1rem;
  font-weight: normal;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  padding: .5rem 0;
}

.artist-name {
  font-family: 'Work Sans', sans-serif;
  line-height: 1;
  font-weight:700;
  margin-top:.5rem;
}

.exhibit-title {
  color:#777;
}


p {
  font-family: 'OSWALD';
  font-size: 1rem;
  line-height: -1;
  margin-bottom: 1rem;
}



