.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.crumb {
    display: inline-block;
    padding-right: 1rem;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

a {
    text-decoration: underline;
    color: #e00ecf;
    font-family: oswald;
    font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #81BEF7;
    font-family: oswald;
}

html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: #fff;
}

body {
  padding:5rem 0;
  color:#000;
}

a {
  text-decoration: underline;
  color: #e00ecf;
  font-family: oswald;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #81BEF7;
    font-family: oswald;
}

nav {
    border-bottom: 1px solid black;
}

html {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  background-color: ##f1eaf3
}

body {
  padding:4rem 2;
  color: #333F48;
  text-align: center;

}

a {
   text-decoration: underline;
   color: #e00ecf;
}

a:hover {
  text-decoration: none;
  color: #81BEF7;
}

main {
  display: grid;
  grid-template-columns: 3fr 6fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 80vw;
  margin: 0 auto;
}

nav {
    border-bottom: 1px solid black;
}
p {
  display: grid;
  grid-template-columns: 2fr 3fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 18vw;
  margin: 0 auto;
}

section {
  display: grid;
  grid-template-columns: 2fr 3fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 24.5vw;
  margin: 0 auto;
}

figure {
  display: grid;
  grid-template-columns: 3fr 6fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 40vw;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
.figure {
  grid-column: 3 / 3;
}

.intro-block {
  grid-column: 1 / 3;
}

.item {
  grid-column: 1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.defination {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  margin-bottom:0rem;
  color: #000;
}


.location {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0em 0;
  padding: 0;
}
