html {
  font-size: 1rem;
  font-family: 'Grandstander', cursive;
  background-color: #CBFFFD;
  font-weight: 900;
}

body {
  padding:2rem 0;
  color: #333F48;
}

a {
  text-decoration: underline;
  color: #81BEF7;
}

a:hover {
  text-decoration: none;
  color: #81BEF7;
}

main {
  display: grid;
  grid-template-columns: 3fr 6fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 80vw;
  margin: 0 auto;
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.crumb {
    display: inline-block;
    padding-right: 1rem;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

.intro-block {
  font-family: 'Grandstander', cursive;
  color: #0000;
  font-weight: 900;

}

p {
  display: grid;
  grid-template-columns: 2fr 3fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 18vw;
  margin: 0 auto;
}

section {
  display: grid;
  grid-template-columns: 2fr 3fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 24.5vw;
  margin: 0 auto;
  justify-content: center;
  font-weight: 900;
}

figure {
  display: grid;
  grid-template-columns: 3fr 6fr :
  grid-auto-row:min-content;
  grid-gap:0rem;
  width: 40vw;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
.figure {
  grid-column: 3 / 3;
}

.intro-block {
  grid-column: 1 / 3;
}

.item {
  grid-column: 1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.defination {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Grandstander', cursive;
  margin-bottom:0rem;
  color: #000;
  font-weight: 900;
}


.location {
  font-size: 1rem;
  font-family: 'Grandstander', cursive;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 900;
}